.custom-lan-bg {
	background-color: #350200 !important;
}

.carousel {
	.swiper {
		width: 100%;
		padding-top: 100px;
		padding-bottom: 100px;

		.swiper-slide {
			background-position: center;
			background-size: cover;
			background-color: #350200;
			width: 40% !important;
			height: 500px !important;
			box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.6);

			@media screen and (max-width: 768px) {
				width: 80% !important;
				height: 300px !important;
			}
		}
	}
}

.swiper-slide {
	width: 250px !important;
	height: 250px !important;
	background-color: #350200;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	color: #fff;
	backdrop-filter: blur(1) !important;
	cursor: pointer;
}
